@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

$primaryColor: #232427;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
}

.container {
  max-width: 1115px;
  padding: 0 15px;
  margin: 0 auto;
}

